/*!
 * Lucy Said Ok by @fontspace - https://www.fontspace.com/lucy-said-ok-font-f68601
 * License - https://www.fontspace.com/lucy-said-ok-font-f68601
 */

 @font-face {
  font-family: 'Lucy Said Ok';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url("/assets/fonts/LucySaidOkPersonalUseItalic.ttf");
  }
